# Configuration File for keepalived

# Global options
global_defs {
{% for key, value in keepalived_global_options.items() %}
  {{ key }} {{ value }}
{% endfor %}
}

# VRRP scripts
{% for script in keepalived_vrrp_scripts %}
vrrp_script {{ script.name }} {
{% for key, value in script.options.items() %}
  {{ key }} {{ value }}
{% endfor %}
}

{% endfor %}

# VRRP sync groups
{% for item in keepalived_vrrp_sync_groups %}
vrrp_sync_group {{ item.name }} {
  group {
{% for item2 in item.members %}
    {{ item2 }}
{% endfor %}
  }
}

{% endfor %}

# VRRP instances
{% for instance in keepalived_vrrp_instances %}
vrrp_instance {{ instance.name }} {

{% for key, value in instance.options.items() %}
  {{ key }} {{ value }}
{% endfor %}

{% if instance.authentication is defined and instance.authentication|bool %}
  authentication {
    auth_type {{ instance.auth_type }}
    auth_pass {{ instance.auth_pass }}
  }
{% endif %}

  virtual_ipaddress {
    {{ instance.cluster_ip }} dev {{ instance.interface|default(ansible_default_ipv4.interface) }}
  }

  # notify_master "/opt/keepalived/bin/haproxy-restart.sh"
}

{% endfor %}
